# Create a Travel Itinerary with a Corresponding Map

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests

In [2]:
# Import the API key.
from config import g_key

In [3]:
# Files to load
vacation_data_to_load = "data/WeatherPy_vacation.csv"

In [4]:
# Read the data file, and store it in a DataFrame.
vacation_itinerary_df = pd.read_csv(vacation_data_to_load)
vacation_itinerary_df.head()

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,Mindelo,CV,82.40,16.89,-24.98,few clouds,Hotel Gaudi
1,Hermanus,ZA,73.00,-34.42,19.23,broken clouds,Misty Waves Boutique Hotel
2,Constitucion,CL,70.36,-35.33,-72.42,few clouds,Hotel Boutique Las Azucenas
3,Georgetown,MY,82.40,5.41,100.34,few clouds,Cititel Penang
4,Ardakan,IR,73.40,32.31,54.02,scattered clouds,Ardakan Hotel

In [5]:
# Filter the DataFrame so it includes only the 5 cities that will be visited.
vacation_itinerary_df = vacation_itinerary_df.loc[(vacation_itinerary_df["City"]=="Pisco") |
                                                   (vacation_itinerary_df["City"]=="Porto Velho") |
                                                   (vacation_itinerary_df["City"]=="Camana") |
                                                   (vacation_itinerary_df["City"]=="Alta Floresta") |
                                                   (vacation_itinerary_df["City"]=="Tarata")]
vacation_itinerary_df

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
66,Porto Velho,BR,82.40,-8.76,-63.90,broken clouds,Ecos Hotel Conforto
106,Camana,PE,77.45,-16.62,-72.71,clear sky,Hostal Morales
113,Alta Floresta,BR,87.80,-9.88,-56.09,scattered clouds,Floresta Amazonica Hotel
124,Pisco,PE,75.00,-13.70,-76.22,clear sky,Hostal San Isidro Oficial
129,Tarata,BO,77.00,-17.62,-66.02,scattered clouds,TARA TARA Centro Alternativo Hosting

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Create a the set of latitude and longitude combinations.
lat = vacation_itinerary_df["Lat"]
lng = vacation_itinerary_df["Lng"]
coordinates = zip(lat, lng)
coordinates

In [8]:
# Add the latitudes and longitudes to a list.
coordinates = list(coordinates)
coordinates

[(-8.76, -63.9),
 (-16.62, -72.71),
 (-9.88, -56.09),
 (-13.7, -76.22),
 (-17.62, -66.02)]

In [66]:
#itinerary_df = vacation_itinerary_df[["City", "Country", "Max Temp", "Current Description", "Hotel Name"]].copy()
#itinerary_df["Coordinates"] = coordinates
#itinerary_df

,City,Country,Max Temp,Current Description,Hotel Name,Coordinates
66,Porto Velho,BR,82.40,broken clouds,Ecos Hotel Conforto,"(-8.76, -63.9)"
106,Camana,PE,77.45,clear sky,Hostal Morales,"(-16.62, -72.71)"
113,Alta Floresta,BR,87.80,scattered clouds,Floresta Amazonica Hotel,"(-9.88, -56.09)"
124,Pisco,PE,75.00,clear sky,Hostal San Isidro Oficial,"(-13.7, -76.22)"
129,Tarata,BO,77.00,scattered clouds,TARA TARA Centro Alternativo Hosting,"(-17.62, -66.02)"

In [67]:
info_box_template = """
<dl>
<dt>Hotel Name</dt>
<dd>{Hotel Name}</dd>
<dt>City</dt>
<dd>{City}</dd>
<dt>Country</dt>
<dd>{Country}</dd>
<dt>Current Weather</dt>
<dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [70]:
# Store the DataFrame Row.
destination_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

In [71]:
# Latitude-longitude pairs
porto_velho = coordinates[0]
camana = coordinates[1]
alta_floresta = coordinates[2]
pisco = coordinates[3]
tarata = coordinates[4]

locations = [porto_velho, camana, alta_floresta, pisco, tarata]

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=destination_info)
fig.add_layer(marker_layer)


pisco2tarata = gmaps.directions_layer(pisco, tarata, waypoints=[camana, porto_velho, alta_floresta], travel_mode='DRIVING')
fig.add_layer(pisco2tarata)


fig

Figure(layout=FigureLayout(height='420px'))